@import 'etc/config.scss';

header {
    margin-bottom: 80px;
}

.comet {
    position: absolute;
    width: 54px;
    z-index: 1;
}

.Planet {
    position: relative;
    display: block;

    article {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        bottom: -140px;
        text-align: center;
    }
}

$biggest-size: 139822;
$planet_sizes: (
    mercury: 4879,
    venus: 12104,
    earth: 12742,
    mars: 6779,
    jupiter: 139822,
    saturn: 116464,
    uranus: 50724,
    neptune: 49244,
);
@each $planet, $size in $planet_sizes {
    .#{$planet} > img {
        width: ($size / $biggest-size) * 100%;
    }
}

$planet_distances: (
    mercury: 57909227,
    venus: 108209475,
    earth: 149598262,
    mars: 227943824,
    jupiter: 778340821,
    saturn: 1426666422,
    uranus: 2870658186,
    neptune: 4498396441,
);
@each $planet, $distance in $planet_distances {
    .#{$planet} {
        margin-bottom: floor(map-get($planet_distances, $planet) / 500000) * 1px;
    }
}

#Sun {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 710px;
    color: map-get($colors, background);
    margin-top: 180px;
    padding: 160px 18px 54px 18px;
    z-index: 999;
    position: relative;
    display: block;

    @media (min-width: 900px) {
        background-size: 2000px;
        padding: 800px 18px 54px 18px;
    }

    @media (min-width: 1600px) {
        background-size: 4500px;
        padding: 1260px 18px 54px 18px;
    }
}
