@import 'etc/config.scss';

@function multiple-box-shadow ($n) {
    $value: '#{random(100)}vw #{random(1000)}vh #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(100)}vw #{random(1000)}vh #FFF';
    }

    @return unquote($value);
}

$shadows-small:  multiple-box-shadow(50);
$shadows-medium: multiple-box-shadow(30);
$shadows-big:    multiple-box-shadow(20);

#stars1 {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 250s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 100vh;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
    }
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 200s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 100vh;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 100vh;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-100vh);
    }
}

body {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

h1, h2 {
    text-shadow:
        0 1px 0 darken(map-get($colors, foreground), 30%),
        0 2px 0 darken(map-get($colors, foreground), 32%),
        0 3px 0 darken(map-get($colors, foreground), 34%),
        0 4px 0 darken(map-get($colors, foreground), 36%),
        0 5px 0 darken(map-get($colors, foreground), 38%),
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

.comet {
    position: absolute;
    width: 54px;
    z-index: 1;
}
