@import 'etc/config.scss';

* {
    box-sizing: border-box;
}

body {
    background-color: map-get($colors, background);
    color: map-get($colors, foreground);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-x: hidden;
}

header {
    margin-bottom: 72px;
}

h1, h2 {
    font-weight: 700;
    font-size: 70px;
    padding-left: 18px;
    padding-right: 18px;

    @media (min-width: 544px) {
        font-size: 90px;
    }
}

h2 {
    font-size: 30px;

    @media (min-width: 544px) {
        font-size: 50px;
    }
}

p.intro {
    max-width: 690px;
    margin: 0 auto;
    display: block;
    margin-bottom: 70px;
    padding: 0 18px;
}

small {
    font-size: 14px;
    color: map-get($colors, foreground);
    display: block;
    margin-bottom: 5px;
}

strong {
    color: map-get($colors, foreground_alt);
}

.Planet {
    padding: 0px 18px 18px 18px;
    z-index: 999;
    position: relative;

    h2 {
        margin: 54px 0px 18px 0px;
        padding: 0px;
    }

    ul {
        margin: 0px;
        padding: 0px;
    }

    li {
        list-style-type: none;
    }

    li + li {
        margin-top: 9px;
    }
}

$biggest-size: 139822;
$planet_sizes: (
    mercury: 4879,
    venus: 12104,
    earth: 12742,
    mars: 6779,
    jupiter: 139822,
    saturn: 116464,
    uranus: 50724,
    neptune: 49244,
);
@each $planet, $size in $planet_sizes {
    .#{$planet} > img {
        width: ($size / $biggest-size) * 100%;
    }
}

$planet_distances: (
    mercury: 57909227,
    venus: 108209475,
    earth: 149598262,
    mars: 227943824,
    jupiter: 778340821,
    saturn: 1426666422,
    uranus: 2870658186,
    neptune: 4498396441,
);
@each $planet, $distance in $planet_distances {
    .#{$planet} {
        margin-bottom: floor(map-get($planet_distances, $planet) / 500000) * 1px;
    }
}

a {
    &:link, &:active, &:hover, &:visited {
        color: lighten(map-get($colors, foreground), 10%);
    }
}

p {
    margin-bottom: 90px;
}
