@import 'etc/config.scss';

body {
    background-color: map-get($colors, background);
    color: map-get($colors, foreground);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

$headings: h1 h2 h3 h4 h5 h6;
@each $heading in $headings {
    #{$heading} {
        font-weight: 700;
    }
}

small {
    font-size: 14px;
    color: map-get($colors, meta);
    display: block;
}

strong {
    color: map-get($colors, foreground_alt);
}

.Planet {
    padding: 1rem;
    margin-top: 5rem;

    h2 {
        margin: 3rem 0rem 1rem 0rem;
        padding: 0px;
    }

    ul {
        margin: 0px;
        padding: 0px;
    }

    li {
        list-style-type: none;
    }

    li + li {
        margin-top: 0.5rem;
    }
}

$biggest-size: 139822;
$planets: (
    mercury: 4879,
    venus: 12104,
    earth: 12742,
    mars: 6779,
    jupiter: 139822,
    saturn: 116464,
    uranus: 50724,
    neptune: 49244,
);
@each $planet, $size in $planets {
    img.#{$planet} {
        width: ($size / $biggest-size) * 100%;
    }
}

#Sun {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 193rem;
    color: map-get($colors, background);
    margin-top: 10rem;
    padding: 70rem 1rem 3rem 1rem;
}
