@import 'etc/config.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    color: map-get($colors, foreground);
    background-color: map-get($colors, background);
}

header {
    margin-bottom: 72px;
}

h1, h2 {
    font-size: 80px;
    font-weight: 700;
    padding-left: 18px;
    padding-right: 18px;

    @media (min-width: 544px) {
        font-size: 90px;
    }
}

h2 {
    font-size: 30px;

    @media (min-width: 544px) {
        font-size: 50px;
    }
}

header {
    p {
        display: block;
        margin: 0 auto;
        padding: 0 18px;
        max-width: 550px;
        margin-bottom: 18px;

        &.last {
            margin-bottom: 70px !important;
        }
    }
}

small {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: map-get($colors, foreground);
}

strong {
    color: map-get($colors, foreground_alt);
}

.planet {
    z-index: 999;
    position: relative;
    padding: 0px 18px 18px 18px;

    h2 {
        padding: 0px;
        margin: 54px 0px 18px 0px;
    }

    ul {
        margin: 0px;
        padding: 0px;
    }

    li {
        padding: 0 18px;
        list-style-type: none;
    }

    li + li {
        margin-top: 9px;
    }
}

#spaceship {
    display: none;
}

#sun {
    z-index: 999;
    display: block;
    margin-top: 180px;
    position: relative;
    background-size: 710px;
    background-repeat: no-repeat;
    padding: 160px 18px 54px 18px;
    background-position: top center;
    color: map-get($colors, background);

    @media (min-width: 900px) {
        background-size: 2000px;
        padding: 800px 18px 54px 18px;
    }

    @media (min-width: 1600px) {
        background-size: 4500px;
        padding: 1260px 18px 54px 18px;
    }
}

$biggest-size: 139822;
$planet_sizes: (
    mercury: 4879,
    venus: 12104,
    earth: 12742,
    mars: 6779,
    jupiter: 139822,
    saturn: 116464,
    uranus: 50724,
    neptune: 49244,
);
@each $planet, $size in $planet_sizes {
    .#{$planet} > img {
        width: ($size / $biggest-size) * 100%;
    }
}

$planet_distances: (
    mercury: 57909227,
    venus: 108209475,
    earth: 149598262,
    mars: 227943824,
    jupiter: 778340821,
    saturn: 1426666422,
    uranus: 2870658186,
    neptune: 4498396441,
);
@each $planet, $distance in $planet_distances {
    .#{$planet} {
        margin-bottom: floor(map-get($planet_distances, $planet) / 500000) * 1px;
    }
}

a {
    &:link, &:active, &:hover, &:visited {
        color: lighten(map-get($colors, foreground), 10%);
    }
}
